<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <link rel="stylesheet" href="/css/friendlist.css">-->
<!--</head>-->
<!--<body>-->
<ul>
    <% following.forEach(f=> { %>
        <li>
            <div class="friend__item">
                <div class="hover__friend__detail">
                </div>
                <a href="#" id="<%= f.id %>" class="friend__item_link">
                    <div class="item">
                        <div class="image">
                            <img class="avatar" src="<%= f.avatar %>" alt="">
                        </div>
                        <div class="friend--name">
                            <p><%= f.name %></p>
                        </div>
                    </div>
                </a>
            </div>
        </li>
    <% }) %>
</ul>
<!--</body>-->
<!--</html>-->
