<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/friendlist.css">
</head>
<body>
    <ul>
        <li>
             <div class="friend__item">
                 <div class="hover__friend__detail">
                 </div>
                    <div class="item">
                        <div class="image">
                            <img class="avatar" src="/images/avatar.jpg" alt="">
                        </div>
                        <div class="friend--name">
                            <p>Nguyen Tien Dung</p>
                        </div>
                    </div>
             </div>
        </li>
        <li>
             <div class="friend__item">
                 <div class="hover__friend__detail">
                 </div>
                     <div class="item">
                         <div class="image">
                             <img class="avatar" src="/images/avatar.jpg" alt="">
                         </div>
                         <div class="friend--name">
                             <p>Nguyen Tien Dung</p>
                         </div>
                     </div>
             </div>
         </li>
         <li>
            <div class="friend__item">
                <div class="hover__friend__detail">
                </div>
                    <div class="item">
                        <div class="image">
                            <img class="avatar" src="/images/avatar.jpg" alt="">
                        </div>
                        <div class="friend--name">
                            <p>Nguyen Tien Dung</p>
                        </div>
                    </div>
            </div>
        </li>
        <li>
            <div class="friend__item">
                <div class="hover__friend__detail">
                </div>
                    <div class="item">
                        <div class="image">
                            <img class="avatar" src="/images/avatar.jpg" alt="">
                        </div>
                        <div class="friend--name">
                            <p>Nguyen Tien Dung</p>
                        </div>
                    </div>
            </div>
        </li>
        <li>
            <div class="friend__item">
                <div class="hover__friend__detail">
                </div>
                    <div class="item">
                        <div class="image">
                            <img class="avatar" src="/images/avatar.jpg" alt="">
                        </div>
                        <div class="friend--name">
                            <p>Nguyen Tien Dung</p>
                        </div>
                    </div>
            </div>
        </li>
         <li>
            <div class="friend__item">
                <div class="hover__friend__detail">
                </div>
                    <div class="item">
                        <div class="image">
                            <img class="avatar" src="/images/avatar.jpg" alt="">
                        </div>
                        <div class="friend--name">
                            <p>Nguyen Tien Dung</p>
                        </div>
                    </div>
            </div>
        </li>
        <li>
            <div class="friend__item">
                <div class="hover__friend__detail">
                </div>
                    <div class="item">
                        <div class="image">
                            <img class="avatar" src="/images/avatar.jpg" alt="">
                        </div>
                        <div class="friend--name">
                            <p>Nguyen Tien Dung</p>
                        </div>
                    </div>
            </div>
        </li>
        <li>
            <div class="friend__item">
                <div class="hover__friend__detail">
                </div>
                    <div class="item">
                        <div class="image">
                            <img class="avatar" src="/images/avatar.jpg" alt="">
                        </div>
                        <div class="friend--name">
                            <p>Nguyen Tien Dung</p>
                        </div>
                    </div>
            </div>
        </li>
         <li>
             <div class="friend__item">
                 <div class="hover__friend__detail">
                 </div>
                     <div class="item">
                         <div class="image">
                             <img class="avatar" src="/images/avatar.jpg" alt="">
                         </div>
                         <div class="friend--name">
                             <p>Nguyen Tien Dung</p>
                         </div>
                     </div>
             </div>
         </li>
     </ul>
</body>
</html>