<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/group.css">
    <title>Group</title>
</head>
<body>
    <div class="body__side-bar">
        <div class="side-bar__section side-bar__section-1">
            <div class="section__title">Group</div>
            <form onsubmit="return handleFormSubmit(event)" action="/search_result/group">
                <label class="search-wrapper search-wrapper-layout">
                    <img class="search-icon" src="/images/icons/search.png" alt="search-icon">
                    <input class="search-input" name="name" type="search" placeholder="Search for something...">
                </label>
            </form>
        </div>
        <div class="hint-list-positioned-ancestor" id="group-live-searching-results"></div>
        <div class="side-bar__separator"></div>
        <div class="side-bar__section-wrapper">
            <div class="side-bar__section">
                <div class="side-bar__item-list">
                    <% groups.forEach(g => { %>
                        <div class="side-bar__item side-bar__item--type-2">
                            <img class="side-bar__item-image" src="<%= g.img %>">
                            <div class="side-bar__item-title"><%= g.name %></div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/group_search.js"></script>
</body>
