<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/group.css">
    <title>Group</title>
</head>
<body>
    <div class="global-wrapper">
        <div class="header-bar">Header Bar</div>
        <div class="body">
            <div class="body__side-bar">
                <div class="side-bar__section side-bar__section-1">
                    <div class="section__title">Nhóm</div>
                    <div class="section__search-tool"></div>
                </div>
                <div class="side-bar__section-wrapper">
<!--                    <div class="side-bar__section">-->
<!--                        <div>-->
<!--                            <div class="side-bar__item side-bar__item&#45;&#45;type-1" style="background: #EAF3FF;">-->
<!--                                <div class="side-bar__item-icon"></div>-->
<!--                                <div class="side-bar__item-title">Bảng tin của bạn</div>-->
<!--                            </div>-->
<!--                            <div class="side-bar__item side-bar__item&#45;&#45;type-1">-->
<!--                                <div class="side-bar__item-icon"></div>-->
<!--                                <div class="side-bar__item-title">Bảng tin của bạn</div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="side-bar__separator"></div>
                    <div class="side-bar__section">
                        <div class="section__title--type-2">Nhóm bạn đã tham gia</div>
                        <div class="side-bar__item-list">
                            <div class="side-bar__item side-bar__item--type-2" style="background: #EAF3FF;">
                                <img class="side-bar__item-image" src="">
                                <div class="side-bar__item-title">Kênh thông tin Sinh viên Viện CNTT&TT- ĐH Bách Khoa HN</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body__main-page">
                <div class="main-page__intro-section">
                    <img src="images/img/soict.jpg" class="intro-section__wallpaper">
                    <div class="intro-section__title-wrapper">
                        <div class="title-wrapper__title">Kênh thông tin Sinh viên Viện CNTT&TT- ĐH Bách Khoa HN</div>
                        <div class="title-wrapper__sub-info">
                            <img src="images/icons/globe.png" class="sub-info__privacy-icon">
                            <div class="sub-info__privacy-mode">Nhóm công khai</div>
                            <div class="sub-info__separator">.</div>
                            <div class="sub-info__num-of-members">10K thành viên</div>
                        </div>
                    </div>
                </div>
                <div class="main-page__content-section">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
