<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/newpost_test.css">
</head>
<body>
    <!-- Box đăng bài -->
    <div class="post-section__post-creator">
        <img src="<%= user.avatar %>" alt="" class="post-creator__avatar">
        <div class="post-creator__content">Tạo bài viết công khai...</div>
    </div>
    <div class="global-wrapper second-flow">
        <div class="modal-box">
            <div class="modal-box__title">Tạo bài viết</div>
            <img src="images/icons/remove.png" class="modal-box__remove-icon">
            <div class="modal-box__creator-info">
                <img src="<%= user.avatar %>" class="creator-info__avatar">
                <div class="creator-info__name"><%= user.name %></div>
            </div>
            <form action="#" class="modal-box__form" onchange="preview_image(event)" >
                <div class="wrap-content-image">
                    <textarea name="post-content" class="form__text-input" placeholder="Bạn viết gì đi..."></textarea>
                    <div class="wrap-image">
                        <img id="output_image">
                    </div>
                </div>
                <div class="file-upload">
                    <input type="file" name="file">
                </div>
                <button type="button" class="form__submit-button form__submit-button--not-allowed">Đăng</button>
            </form>
        </div>
    </div>

    <script src="js/group_handle_events.js"></script>
    <script src="js/group_catch_events.js"></script>
    <!-- Choose preview image post-->
    <script>
        function preview_image(event){
            var reader = new FileReader();
            reader.onload = function(){
                var output = document.getElementById('output_image');
                output.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
</body>
</html>
