<% postList.forEach(post => { %>
    <div class="card-post" id="container">
        <div class="wrapper">
            <header>
                <div class="avatar">
                    <img src="<%= post.owner.avatar %>" alt="">
                </div>
                <div class="name">
                    <h1><%= post.owner.name %></h1>
                </div>
                <div class="threedots">
                    <i class="fa fa-ellipsis-h dropbtn" onclick="deleteStatus()"></i>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="">Xóa</a>
                    </div>
                </div>
            </header>
            <div class="content-text-post">
                <p><%= post.content %></p>
            </div>
            <div class="content-img-post">
                <img src="" alt="">
            </div>
            <div class="bar-post">
                <section class="numberlike">50 Lượt Thích</section>
                <hr>
                <div class="swap-like-cmt">
                    <section class="like-cmt-post like">
                        <i class="far fa-heart"></i>&nbsp;&nbsp;
                        <span>Thích</span>
                    </section>
                    &nbsp;
                    <section class="like-cmt-post cmt">
                        <i class="far fa-comment"></i>&nbsp;&nbsp;
                        <span>Bình luận</span>
                    </section>
                </div>
            </div>
            <hr>
            <div class="comment">
                <!-- Các comment đã xuất hiện -->
                <div class="commented">
                    <div class="avatar">
                        <img src="/me.jpg" alt="">
                    </div>
                    <div class="content-text-cmt">
                        <h1>Tumblr</h1>
                        <p>Chào mọi người. Cho em xin chút review</p>
                    </div>
                </div>

                <!-- Viết comment -->
                <div class="new-comment">
                    <div class="avatar">
                        <img src="<%= user.avatar %>" alt="">
                    </div>
                    <div class="wrap-new-cmt">
                        <form action="">
                            <!-- <input id="text-cmt" type="text" placeholder="Viết bình luận ..."> -->
                            <div class="edittext" contentEditable="true"></div>
                            <div class="media-cmt">
                                <input id="img-cmt" type="file" onchange="preview_image_cmt(event)">
                            </div>
                            <div class="wrap-img-cmt">
                                <img id="output_image_cmt">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% }) %>
