<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Profile</title>
</head>
<body>
    <%- include('topbar'); -%>
    <div class="cover__photo__avatar">
        <div class="cover__photo">
            <div class="photo">
                <img src="/images/cover_photo.jpg" alt="">
                <div class="edit-cover-photo">
                    <img src="/images/camera.png" alt="">
                    <p>Edit Cover Photo</p>
                </div>
            </div>
            <div class="avatar">
                <div class="edit-avatar">
                    <a href="">
                        <img src="/images/camera.png" alt="">
                    </a>
                </div>
                <div class="photo-avatar">
                    <img src="/images/big_avatar.jpg" alt="">
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>