<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Profile</title>
</head>
<body>
    <%- include('topbar'); -%>
    <div class="avatar__container__top">
        <div class="cover__photo__avatar">
            <div class="cover__photo">
                <div class="photo">
                    <img src="/images/cover_photo.jpg" alt="">
                    <div class="edit-cover-photo">
                        <img src="/images/camera.png" alt="">
                        <p>Edit Cover Photo</p>
                    </div>
                </div>
                <div class="avatar">
                    <div class="edit-avatar">
                        <a href="">
                            <img src="/images/camera.png" alt="">
                        </a>
                    </div>
                    <div class="photo-avatar">
                        <img src="/images/big_avatar.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="user__name">
            <h2 class="name">Nguyen Tien Dung</h2>
            <br>
            <p class="sub_name">dungnt</p>
        </div>
        <div class="information__bar">
            <div class="left__items">
                <ul>
                    <a href="" class="active">
                        <li><p>Posts</p></li>
                    </a>
                    <a href="">
                        <li><p>About</p></li>
                    </a>
                    <a href="">
                        <li><p>Friends</p></li>
                    </a>
                    <a href="">
                        <li><p>Photos</p></li>
                    </a>
                    <a href="">
                        <li><p>More</p></li>
                    </a>
                </ul>
            </div>
            <div class="right__button">
                <ul>
                    <!-- xu ly logic neu la profile cua minh thi hien thi 
                    nut edit prifile neu xem profile cua nguoi khac thi co nut add friends, message-->
                    <!-- neu da la ban be thi hien thi nut Friends va message -->
                    <li class="active">
                        <div id="edit-profile">
                            <img src="/images/edit.png" alt="">
                            <p>Edit profile</p>
                        </div>
                    </li>
                    <!-- chua add friend -->
                    <li class="active">
                        <div id="add-friend">
                            <img src="/images/addfriend.png" alt="">
                            <p>Add friend</p>
                        </div>
                    </li>
                    <li class="hide">
                        <div id="message">
                            <img src="/images/message.png" alt="">
                            <p>Message</p>
                        </div>
                    </li>
                    <!-- da add friend -->
                    <li class="hide">
                        <a href="">
                            <div id="friend">
                                <img src="/images/friends.png" alt="">
                                <p>Friends</p>
                            </div>
                        </a>
                    </li>
                    <li class="hide">
                        <div id="message">
                            <img src="/images/message.png" alt="">
                            <p>Message</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main__content__container">
        <div class="main__profile__content">
            <div class="left__detail__infor">
                <div class="basic__infor form__info">
                    <div class="intro">
                        <p class="title">Intro</p>
                    </div>
                    <div class="infor">
                        <div class="item school">
                            <img src="/images/school.png" alt="">
                            <p>Đang học tại <b> Đại học Bách khoa Hà Nội - Hanoi University of Science and Technology</b></p>
                        </div>
                        <div class="item unit">
                            <img src="/images/unit.png" alt="">
                            <p>Viện <b>Công nghệ Thông tin và Truyền thông</b></p>
                        </div>
                        <div class="item class">
                            <img src="/images/class.png" alt="">
                            <p><b>
                                CNTT-09 - K62
                            </b></p>
                        </div>
                        <div class="item from">
                            <img src="/images/position.png" alt="">
                            <p>Đến từ <b>Hà Nội</b></p>
                        </div>
                    </div>
                </div>

                <div class="friend__list form__info">
                    <div class="top">
                        <div class="number-friend">
                            <p class="title">Friends</p>
                            <span>100 friends</span>
                        </div>
                        <a href=""><p>
                            See All Friends
                        </p></a>
                    </div>
                    <div class="friends__container">
                        <div class="friend">
                            <a href="">
                                <img src="/images/avatar3.jpg" alt="">
                                <p class="name">Friend 1</p>
                            </a>
                        </div>
                        <div class="friend">
                            <a href="">
                                <img src="/images/avatar1.jpg" alt="">
                                <p class="name">Friend 2</p>
                            </a>
                        </div>
                        <div class="friend">
                            <a href="">
                                <img src="/images/avatar2.jpg" alt="">
                                <p class="name">Friend 3</p>
                            </a>
                        </div>
                        <div class="friend">
                            <a href="">
                                <img src="/images/avatar3.jpg" alt="">
                                <p class="name">Friend 4</p>
                            </a>
                        </div>
                        <div class="friend">
                            <a href="">
                                <img src="/images/avatar2.jpg" alt="">
                                <p class="name">Friend 5</p>
                            </a>
                        </div>
                        <div class="friend">
                            <a href="">
                                <img src="/images/avatar1.jpg" alt="">
                                <p class="name">Friend 6</p>
                            </a>
                        </div>
                        <div class="friend">
                            <a href="">
                                <img src="/images/avatar1.jpg" alt="">
                                <p class="name">Friend 7</p>
                            </a>
                        </div>
                        <div class="friend">
                            <a href="">
                                <img src="/images/avatar2.jpg" alt="">
                                <p class="name">Friend 8</p>
                            </a>
                        </div>
                        <div class="friend">
                            <a href="">
                                <img src="/images/avatar3.jpg" alt="">
                                <p class="name">Friend 9</p>
                            </a>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="right__posts">
   
            </div>
        </div>
    </div>
    
</body>
</html>