<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/resetPwd.css">
    <title>Reset Password</title>
</head>
<body>
    <div class="global-wrapper">
        <div class="form-wrapper">
            <form action="">
                <div class="form__title">Password Recovery</div>
                <hr>
                <div class="form__body">
                    <div class="body__description">
                        A verification code will be sent to the email below.
                    </div>
                    <input type="email" placeholder="Email address" required>
                </div>
                <hr>
                <div class="form__btn-group">
                    <button type="button">Cancel</button>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>