/* CSS for Post-Card */
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card-post{
    box-sizing: border-box;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #fff;
    border-radius: 10px;
    width: 540px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 18px 10px;
}
header{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}

.avatar{
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.avatar img{
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.name{
    width: 440px;
}
.name h1{
    padding-left: 8px;
    text-align: left;
    word-break: break-word;
    font-weight: bold;
}

/* dot */
.threedots{
    width: 30px;
    height: 30px;
    text-align: center;
    margin-top: 2px;
    border-radius: 50%;
}
.dropbtn{
    width: inherit;
    height: inherit;
    border: none;
}
/* Dropdown threedots */
.dropdown-content {
    display: none;
    position: absolute;
    background: #57707d;
    min-width: 60px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    display: block;
    text-decoration: none;
    padding-top: 10px;
    color: #fff;
    font-size: large;
}
.show {
    background-color: #e93030;
    display:block;
    height: 42px;
}
/* End dropdown threedots */

.fa-ellipsis-h{
    padding-top: 6px;
}
.threedots:hover{
    background-color: #e4e4e4;
    cursor: pointer;
}
/* End CSS for 3dot */

.content-text-post{
    text-align: justify;
    margin-top: 10px;
}
.content-img-post{
    margin-top: 10px;
    text-align: center;
}
.content-img-post img{
    max-width: 504px;
    border: 2px solid #f1f1f1;
}

hr{
    width: 100%;
    align-items: center;
}

.numberlike{
    margin-bottom: 10px;    
}

.swap-like-cmt{
    width: 504px;
    height: 30px;
}
.like-cmt-post{
    width: 249px;
    height: inherit;
    text-align: center;   
    line-height: 30px;
    border-radius: 5px;
    border: #57707d;
}

.like-cmt-post:hover{
    cursor: pointer;
    background-color: #f5f4f4f5;
}
.like{
    float: left;
}
.cmt{
    float: right;
}
.like-post span{
    padding-left: 10px;
}
.comment-post span{
    padding-left: 10px;
}

/*CSS for comment.html*/
.comment{
    margin-top: 10px;
}
.commented{
    display: flex;
}
.comment .avatar{
    float: left;
}
.content-text-cmt{
    width: fit-content;
    margin-left: 8px;
    margin-bottom: 18px;
    text-align: justify;
    background-color: #e8e7e7f5;
    border-radius: 14px;
}
.content-text-cmt h1{
    margin-left: 10px;
    margin-bottom: 0;
    padding-top: 8px;
    padding-left: 5px;
    padding-right: 16px;
    font-weight: bold;
}
.content-text-cmt p{
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 5px;
    padding-bottom: 8px;
    padding-right: 16px;
}
.new-comment{
    min-height: 42px;
    display: flex;
    position: relative;
}
.new-comment .edittext{
    border-radius: 22px;
    background-color: #F5F5F5F5;
    width: 400px;
    min-height: 40px;
    font-size: medium;
    border: none;
    float: left;
    margin-bottom: 10px;
    padding: 5px 8px;
    text-align: justify;
    overflow: hidden;
}
.new-comment .edittext:focus{
    border: none;
    outline: none;
}

.new-comment .edittext:hover{
    cursor: auto;
    background-color: rgb(234, 233, 235);
}
.wrap-new-cmt{
    margin-left: 6px;
    min-height: 40px;
    float: left;
}

/* CSS for upload file comment */
.media-cmt{
    width: 35px;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #FFFFFF;
    background-image: url(/images/camera1.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 10;
    right: 0;
}
.media-cmt [name="img-cmt"]{
    width: inherit;
    height: 28px;
    opacity: 0;
    cursor: pointer;
    margin-top: 7px;
}

.wrap-img-cmt [name="output_image_cmt"]{
    max-width: 150px;
}
