<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./login.component.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    
    <title>Đăng nhập</title>
</head>
<body>
    <div class="content">
        <img src="logo.png" alt="Hình ảnh Logo BKSN">
        <div class="form-login">
            <form id="login-form">
                <input type="text" id="username" name="username" placeholder="Tên đăng nhập">
                <input type="text" id="pwd" name="pwd" placeholder="Mật khẩu">
                <input type="submit" id ="loginbtn" value="Đăng nhập" onclick=""><br>
                <a href="#">Bạn chưa có tài khoản?</a>
            </form>
        </div>
    </div>
    <div class="footer">
        
    </div>
    <script src="./login.component.js"></script>
</body>
</html>