<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./login.component.css">
    <title>Đăng nhập</title>
</head>
<body>
    <div class="content">
        <img src="logo.png" alt="Hình ảnh Logo BKSN">
        <div class="form-login">
            <form action="">
                <input type="text" name="" placeholder="Tên đăng nhập">
                <input type="text" name="" placeholder="Mật khẩu">
                <input id ="loginbtn" type="submit" value="Đăng nhập"><br>
                <a href="#">Bạn chưa có tài khoản?</a>
            </form>
        </div>
    </div>
    <div class="footer">

    </div>
</body>
</html>